.h5_component_bar{
                        }
.h5_component_bar .line{
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
}
.h5_component_bar  .barName{
    width: 60px;
    float: left;
    color: #000;
    text-align: center;
}
.h5_component_bar .progress{
    height: 15px;
    float: left;
    position: relative;
}
.h5_component_bar .progress .bg{
    margin-left: 3px;
    background-color: #99c0ff;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.h5_component_bar .per{
    opacity: 0;
    width: 20px;
    color: #99c0ff;
    margin-left: 5px;
    float: left;
}
.h5_component_bar_load .progress .bg{
    -webkit-transition: all 1s 0.5s;
    -moz-transition: all 1s 0.5s;
    -ms-transition: all 1s 0.5s;
    -o-transition: all 1s 0.5s;
    transition: all 1s 0.5s;
    width:100%;
    border-radius: 2px;
}
.h5_component_bar_load .per{
    -webkit-transition: all 1s 1.5s;
    -moz-transition: all 1s 1.5s;
    -ms-transition: all 1s 1.5s;
    -o-transition: all 1s 1.5s;
    transition: all 1s 1.5s;
    opacity: 1;
}
.h5_component_bar_leave .per{
    opacity: 0;
}
.h5_component_bar_leave .progress .bg{
    width: 0;
}
